# Data
data/
*.hdf5
*.h5

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/

# Environments
venv/
env/
.env

# Outputs
outputs/
checkpoints/
logs/
wandb/

# IDE
.vscode/
.idea/
*.swp
