
# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/

# Environments
venv/
env/
.env
.venv/

# Outputs
outputs/
checkpoints/
logs/
wandb/

# IDE
.vscode/
.idea/
*.swp

figures/
notebooks/
models/
